.container {
  background-color: #C0C0C0;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.dice {
  margin: 20px;
}
.daresult {
  border: 2px solid #000;
  border-radius: 10px;
  height: 100px;
  text-align:center;
  font-size: 5em;
}
#gimme {

}